* {
    font-family: Arial;
}

title {
    font-size:larger;
}

header {
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
}
