* {
    font-family: Arial;
}

title {
    font-size:larger;
}

h1 {
    text-align: center;
}

.big_div {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;

}

.flex {
    align-items: center;
    justify-content: center;
    position: relative;

}

.text {
    top: 26%;
    left: 27%;
    position: absolute;
}
